<div class="location-main">
	<div class="location-heading">
		<div class="location-left">
			<h1>Select Locations</h1>
			<div class="ui icon input">
			 	<input id="location-input" class="form-control form-custom" type="text" placeholder="Search" data-ng-model="locationAll">
			  	<i class="search icon"></i>
			</div>
			<div class="selections">
				<a href="javascript:void(0);">Show Selected ({{home.selectedLocations().length}})</a>
				<a href="javascript:void(0);" data-ng-click="home.selectAll();">Select All</a> /
				<a href="javascript:void(0);" data-ng-click="home.deselectAll();">Deselect All</a>
			</div>

			<div class="ui-switch" ui-view="home.view"></div>
		</div>
		
		<div class="location-right">
			<button type="button" class="btn btn-danger">Cancel</button>
			<button type="button" class="btn btn-primary">Add</button>
		</div>
	</div>

	<section ng-include="home.view"></section>
</div>

